
<app-header
  [fixed]="true"
  [navbarBrandFull]="{src: 'assets/img/brand/logo_wigo4it.png', width: 110, height: 26, alt: 'Wigo4it Logo'}"
  [navbarBrandMinimized]="{src: 'assets/img/brand/logo.svg', width: 30, height: 30, alt: 'Wigo4it Logo'}"
  [sidebarToggler]="'lg'"
  [asideMenuToggler]="'lg'">
  <ul class="nav navbar-nav d-md-down-none">
    <li class="nav-item px-3" *ngIf="loggedInUser.isProfessional">
      <a class="nav-link" href="#/dashboard">Dashboard</a>
    </li>
    <li class="nav-item px-3" *ngIf="loggedInUser.loggedIn">
        <a class="nav-link" href="#/irma" (click)="logout()">Logout</a>
    </li>
    <li class="nav-item px-3" *ngIf="!loggedInUser.loggedIn">
      <a class="nav-link" href="#/">Login</a>
    </li>
    <li class="nav-item px-3" *ngIf="!loggedInUser.loggedIn">
      <a class="nav-link" href="#/professional">Professional</a>
    </li>
  </ul>
  <ul class="nav navbar-nav ml-auto">
    <li class="nav-item dropdown" dropdown placement="bottom right">
      <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle (click)="false">
        <img src="assets/img/avatars/avatar_haarlem.png" class="img-avatar" alt="admin@bootstrapmaster.com"/>
      </a>
      <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
        <div class="dropdown-header text-center"><strong>Account</strong></div>
        <a class="dropdown-item" href="#"><i class="fa fa-envelope-o"></i> Messages<span class="badge badge-success">4</span></a>
        <a class="dropdown-item" href="#/processes"><i class="fa fa-tasks"></i> Tasks<span class="badge badge-danger">{{ HumanTasks - HumanTasksProcessed}}</span></a>
        <div class="dropdown-header text-center"><strong>Settings</strong></div>
        <a class="dropdown-item" href="#"><i class="fa fa-user"></i> Profile</a>
        <a class="dropdown-item" href="#"><i class="fa fa-wrench"></i> Setting</a>
        <div class="divider"></div>
        <a class="dropdown-item" href="#"><i class="fa fa-lock"></i> Logout</a>
      </div>
    </li>
  </ul>
</app-header>
<div class="app-body">
  <app-sidebar [fixed]="true" [display]="'lg'">
    <app-sidebar-nav [navItems]="navItemsProf" [perfectScrollbar] [disabled]="sidebarMinimized" *ngIf="loggedInUser.isProfessional"></app-sidebar-nav>
    <app-sidebar-nav [navItems]="navItemsInwoner" [perfectScrollbar] [disabled]="sidebarMinimized" *ngIf="loggedInUser.isInwoner"></app-sidebar-nav>
    <app-sidebar-minimizer></app-sidebar-minimizer>
  </app-sidebar>
  <!-- Main content -->
  <main class="main">
    <!-- Breadcrumb -->
    <ol class="breadcrumb">
      <app-breadcrumb></app-breadcrumb>
      <!-- Breadcrumb Menu-->
      <li class="breadcrumb-menu d-md-down-none"></li>
    </ol>
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div><!-- /.container-fluid -->
  </main>
  <app-aside [fixed]="true" [display]="false">
    <tabset>
      <tab>
        <ng-template tabHeading><i class="icon-list"></i></ng-template>
        <div class="list-group list-group-accent">
          <div class="list-group-item list-group-item-accent-secondary bg-light text-center font-weight-bold text-muted text-uppercase small">Runs</div>
          <div class="list-group-item list-group-item-accent-info">
            <div>Batch verwerking</div>
            <small class="text-muted mr-3">
              <strong>42 passen</strong></small>
            <small class="text-muted">
              <i class="icon-clock"></i>  11:34</small>
          </div>
          <div class="list-group-item list-group-item-accent-secondary bg-light text-center font-weight-bold text-muted text-uppercase small">Errors</div>
          <div class="list-group-item list-group-item-accent-danger list-group-item-divider">
            <div>Verwerking Persoonlijk</div>
            <small class="text-muted mr-3">
              <i class="icon-note"></i>  Ongeldige input</small>
            <br/>
            <small class="text-muted">
              <i class="icon-ban"></i>  Verwerking afgebroken</small>
          </div>
        </div>
      </tab>
      <tab>
        <ng-template tabHeading><i class="icon-settings"></i></ng-template>
        <div class="p-3">
          <h6>Settings</h6>
          <div class="aside-options">
            <div class="clearfix mt-4">
              <small><b>Live notificaties</b></small>
              <label class="switch switch-label switch-pill switch-success switch-sm float-right">
                <input type="checkbox" class="switch-input" checked>
                <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
              </label>
            </div>
            <div>
              <small class="text-muted">Notificaties vanuit backend processen realtime verwerken.</small>
            </div>
          </div>
          <div class="aside-options">
            <div class="clearfix mt-3">
              <small><b>Gezinspassen</b></small>
              <label class="switch switch-label switch-pill switch-success switch-sm float-right">
                <input type="checkbox" class="switch-input">
                <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
              </label>
            </div>
            <div>
              <small class="text-muted">Stadpassen aanmaken voor gezinsleden</small>
            </div>
          </div>

          <!-- <hr>
          <h6>System Utilization</h6>
          <div class="text-uppercase mb-1 mt-4"><small><b>CPU Usage</b></small></div>
          <div class="progress progress-xs">
            <div class="progress-bar bg-info" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <small class="text-muted">348 Processes. 1/4 Cores.</small>
          <div class="text-uppercase mb-1 mt-2"><small><b>Memory Usage</b></small></div>
          <div class="progress progress-xs">
            <div class="progress-bar bg-warning" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <small class="text-muted">11444GB/16384MB</small>
          <div class="text-uppercase mb-1 mt-2"><small><b>SSD 1 Usage</b></small></div>
          <div class="progress progress-xs">
            <div class="progress-bar bg-danger" role="progressbar" style="width: 95%" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <small class="text-muted">243GB/256GB</small>
          <div class="text-uppercase mb-1 mt-2"><small><b>SSD 2 Usage</b></small></div>
          <div class="progress progress-xs">
            <div class="progress-bar bg-success" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <small class="text-muted">25GB/256GB</small> -->
        </div>
      </tab>
      <tab>
          <ng-template tabHeading><i class="fa fa-user"></i></ng-template>
          <div class="p-3">
            <h6>Profile</h6>
            <div class="aside-options">
              <div class="clearfix mt-4">
                  <div class="container text-center">
                      <div class="row">
                            <div class="profile-header-container">   
                            <div class="profile-header-img">
                                    <img class="img-circle" src="https://www.vbout.com/images/persona/buyer-persona-image2.png" />
                                    </div>
                            </div> 
                      </div>
                    </div>
              </div>
            </div>
            <div class="aside-options">
              <div class="clearfix mt-3">
              </div>
              <div>
              </div>
            </div>
          </div>
        </tab>
      </tabset>
  </app-aside>
</div>
<app-footer>
  <span><a href="http://www.wigo4it.nl">Wigo4it</a> &copy; 2018.</span>
  <!-- <span class="ml-auto">Powered by <a href="https://coreui.io/angular">CoreUI for Angular</a></span> -->
</app-footer>