<div class="animated fadeIn">
    <h1>Persoonlijke stadspas aanmaken</h1>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <strong>Persoon</strong>
                </div>
                <div class="card-body">
                    <form action="" method="post" class="form-horizontal ng-pristine ng-valid">
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="adminNrInput">Administratienr.</label>
                            <div class="custom-file col-md-9">
                                <input type="number" class="form-control is-invalid" id="adminNrInput" placeholder="Adminstratienummer" value="" required/>
                                <div class="invalid-feedback">Verplicht veld</div>
                            </div>                    
                        </div>                    
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="nameInput">Naam</label>
                            <div class="custom-file col-md-9">
                                <input type="text" class="form-control is-valid" id="nameInput" placeholder="Naam" value="Yiorgos Avraamu" required/>
                                <div class="invalid-feedback">Verplicht veld</div>
                            </div>                    
                        </div>                    
                    </form>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-sm btn-success"><i class="fa fa-dot-circle-o"></i> Start verwerking</button>
                    <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
                </div>
            </div>            
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    Verwerkingsresultaat
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">Administratienummer</div>
                        <div class="col-md-9">41986914</div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">Datum uitgifte</div>
                        <div class="col-md-9">24-09-2018</div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">Status</div>
                        <div class="col-md-9"><div class="badge bg-success p-2">Verwerking compleet</div></div>
                    </div>
                </div>
            </div>
        </div><!--/.col-->
    </div><!--/.row-->
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    Keuze soort stadspas
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">Administratienummer</div>
                        <div class="col-md-9">41986914</div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">Datum keuze</div>
                        <div class="col-md-9">nnb.</div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">Keuze</div>
                        <div class="col-md-9">nnb.</div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">Status</div>
                        <div class="col-md-9"><div class="badge bg-warning p-2">Geen keuze bekend</div></div>
                    </div>
                </div>
            </div>
        </div><!--/.col-->
    </div><!--/.row-->
</div>