// Here you can add other styles
.img-avatar{
    border: 1px solid #ddd;
}

.bg-besturingslaag{
    background-color: #ffaaaa;
}

.bg-integratielaag{
    background-color: #f8f4aa;
}

.bg-servicelaag{
    background-color: #aaeeaa;
}

.bg-gegevenslaag{
    background-color: #cccccc;
}