.letter-container {
    padding: 20px;
    margin-top: 30px;

    .stadspas-letter {
        font-size: 1.1rem;
        font-family: 'Times New Roman', Times, serif;
        background-color: #fff;
        padding: 24px;
        border: 1px solid #c8ced3;
        box-shadow: 0 0 15px 2px rgba(0,0,0, 0.5);
        margin-bottom: 40px;

        header{
            font-size: 0.9rem;
            margin-bottom: 40px;

            img {
                float: right;
                width: 200px;
            }
    
            address {
                &.return-address {
                }
            }
        }

        h2 {
            font-size: 1.4rem;
        }
    
        
    }
}